@import './base.css';
@import './font/relefont.css';

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

::selection {
    background-color: #83ccd2;
    color: #61677c;
}

@font-face {
    font-family: "YouSheBiaoTiHei";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url('./font/YouSheBiaoTiHei.ttf') format('truetype');
}

@media (min-width: 1024px) {}

/* 划入 */
.rl-pagein-enter-active,
.rl-pagein-leave-active {
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.rl-pagein-enter-from,
.rl-pagein-leave-to {
    opacity: 0;
    transform: scale(0.5);
}