// 全局scss变量

// 颜色变量
$rlc-primary: #83ccd2;

// 文本
$rlt-primary: #3d3d3d;
$rlt-second: #8d8d8d;


// 背景
$rlbg-default: #eaeef1;


// header
$rlh-bg: #333;
$rlh-checked: #fac03d;
$rlh-text: #fff;
$rlh-menuc: #bed2bb;
$rlh-menua: #83ccd2;