// 全局scss变量

// 颜色变量
$rlc-primary: #83ccd2;

// 文本
$rlt-primary: #3d3d3d;
$rlt-second: #8d8d8d;
$rlt-title: #61677c;
$rlt-boy: #70c3f2;
$rlt-girl: #ff80b4;
$rlt-sex: #a67eb7;
$rlt-error: #ce5242;

// box-shadow
$wshadow70: rgba(255, 255, 255, 0.7);
$bshadow15: rgba(0, 0, 0, 0.15);
$bshadow20: rgba(0, 0, 0, 0.2);
$bshadow5: rgba(0, 0, 0, 0.05);
$wshadow0: #fff;


// 背景
$rlbg-default: #eaeef1;
$rlbg-page: #fff;

$rlbd-default: #dcdfe6;


// header
$rlh-bg: #333;
$rlh-checked: #fac03d;
$rlh-text: #fff;
$rlh-menuc: #bed2bb;
$rlh-menua: #83ccd2;