/* color palette from <https://github.com/vuejs/theme> */
html,
body {
  padding: 0;
  margin: 0;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

body,
body.light {

  --bg: #eaeef1;

  --select-bg: #eaeef1;
  --select-hbg: #dee1e3;
  --select-ac: #7ab5e1;

  --thumb-bg: #dddddd;

  --wave-bg: #cbd5d7;

  /* text */
  --primary-text: #61677c;
  --second-text: #9AA7B1;
  --date-text: #BCBCBC;
  --word-text: #6F6F6F;
  --city-text: #99BCAC;
  --weather-text: #3D8E86;
  --air-text: #A0D8EF;
  --air-1: #26cc80;
  --air-2: #fde333;
  --air-3: #fda033;
  --air-4: #fd333c;
  --air-5: #f333ad;
  --air-6: #9b2105;
  --placeholder-text: #B9B9B9;

  --mnls-s: #61677c;
  --fixed-mask: rgba(0, 0, 0, 0.3);
  --download-ic: #a4c9cc;
  --close-ic: #e94829;

  --sentence-ic: #99bcac;


  --light-gray: #a3a3a3;

  --author-text: linear-gradient(109deg, #8bdeda 2%, #43add0 22%, #998ee0 48%, #e17dc2 74%, #ef9393 100%);

  --mode-c: #e83929;
  --mode-ac: #ffec47;

  /* clock */
  --marker-bg: #F7F8F9;
  --point: #779649;
  --hours: #C0D695;
  --minutes: #A9BE7B;
  --seconds: #779649;

  /* border */
  --w-border: rgba(255, 255, 255, 0.1);

  /* box-shadow */
  --wshadow70: rgba(255, 255, 255, 0.7);
  --bshadow15: rgba(0, 0, 0, 0.15);
  --bshadow20: rgba(0, 0, 0, 0.2);
  --bshadow5: rgba(0, 0, 0, 0.05);
  --pshadow1: #fff;
  --pshadow2: #B9B9B9;
  --wshadow4: #fff;
  --wshadow3: #C8D0E7;
  --wshadow2: #d1d9e6;
  --wshadow1: #BABECC;
  --wshadow0: #fff;
  /* other */
  --github-ic: #24292e;
  --bilibili-ic: #00b3ef;
  /* 渐变 */
  --progress-bg: linear-gradient(180deg, #83CCD2 0%, #50C2A2 48%, #52F3B5 100%);
  --progress-v-bg: linear-gradient(90deg, #83CCD2 0%, #50C2A2 48%, #52F3B5 100%);
}

body.dark {
  --bg: #1d1e1f;

  --wave-bg: #151617;

  --select-bg: #1d1e1f;
  --select-hbg: #343638;
  --select-ac: #66b5f2;
  /* text */
  --primary-text: #61677c;

  /* clock */
  --marker-bg: #1E1E1E;

  /* border */
  --w-border: rgba(0, 0, 0, 0.1);

  /* box-shadow */
  --wshadow70: rgba(121, 121, 121, 0.3);
  --bshadow15: rgba(0, 0, 0, 0.85);

  --pshadow1: #464646;
  --pshadow2: #000;
  --wshadow4: #2C2F2A;
  --wshadow3: #000;
  --wshadow2: #17181a;
  --wshadow1: #000;
  --wshadow0: #454133;

  /* other */
  --github-ic: #f5f3f2;
}