@import './base.css';
@import './font/relefont.css';

.main {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg);
    transition: background-color 0.2s ease-in-out;
    font-family: 'Source Han Sans CN';
}

@font-face {
    font-family: "YouSheBiaoTiHei";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url('./font/YouSheBiaoTiHei.ttf') format('truetype');
}

@font-face {
    font-family: "zcool-kuaile";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url('./font/zcool-kuaile.ttf') format('truetype');
}

.show-title[data-title] {
    position: relative;
}

.show-title[data-title]:hover::after {
    opacity: 1;
    transition: all 0.1s ease 1s;
    visibility: visible;
}

.show-title[data-title]::after {
    content: attr(data-title);
    background-color: rgba(50, 50, 50, 0.8);
    color: #a7a7a7;
    font-size: 12px;
    position: absolute;
    padding: 4px 10px;
    left: 30%;
    bottom: -1.5em;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
}

/* transition 动画 */

/* 淡入 */
.vm-fadein-enter-active,
.vm-fadein-leave-active {
    transition: opacity 0.5s ease;
}

.vm-fadein-enter-from,
.vm-fadein-leave-to {
    opacity: 0;
}

/* 划入 */
.vm-slidein-enter-to,
.vm-slidein-leave-from {
    transform: translateY(0);
}

.vm-slidein-enter-active,
.vm-slidein-leave-active {
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.vm-slidein-enter-from,
.vm-slidein-leave-to {
    opacity: 0;
    transform: translateY(-20%);
}